@model Subject.Models.Suggest

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-body">
        <div>
            @Html.DisplayFor(model => model.Suggest1)
        </div>
    </div>
</div>

