body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem -1rem;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}