@model IEnumerable<Subject.Models.ShopMenu>

<table class="table table-bordered table-striped mt-1">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>

    }

</table>