
@{
    ViewBag.Title = "MySave";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .pic {
        width: 150px;
        height: 150px;
        margin:auto;
        /*margin: 50px;*/
        /*border: 2px solid;*/
    }

        .pic img {
            object-fit: contain;
            width: 150px;
            height: 150px;
        }
</style>

<h4 class="text-center alert profile" ><i class="bi bi-chat-square-heart"></i> 我的收藏店家</h4>

<div class="container">
    <div class="row" id="MySave">

    </div>
</div>

<hr />


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var save = [];

    let initSave = function () {
        if (!localStorage.getItem("save") || localStorage.getItem("save") == "[]") {
            $('#MySave').html(`<h5 class="text-center text-danger mx-auto">目前沒有收藏任何店家</h5>`);
        }
        else {
            save = JSON.parse(localStorage.getItem("save"));

            let saveList = "";
            for (let item of save) {
                saveList += `<div class="col-3">
                                <div class="card shadow h-100 p-2 text-center">
                                    <a href="Details/${item.SID}" title="點我看更多">
                                        <div class="pic">
                                            <img src="/ShopImages/GetSavePhoto/${item.SID}" >
                                        </div>
                                        <div class="text-secondary" style="font-size:16px">${item.SName}</div>
                                    </a>
                                </div>
                            </div>`
            }
            $('#MySave').html(saveList);
            
        }
    }
    initSave();

    //<div class="card-body"></div>
    //class="img-fluid"
</script>


