
@{
    ViewBag.Title = "UserSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center alert alert-info">我的收藏店家</h2>

<div id="UserSave">

</div>
<hr />

@section scripts{
    <script>

    </script>
    
    }
